.folderColor {
   color: rgb(255, 200, 100);
}

.unselectedColor  {
    color: rgb(240,240,240);
    &:hover {
        color: rgb(200,200,200);
        background-color: white;
    }
}

.selectedColor {
    background-color:rgb(200,200,200);
    color: white;
    &:hover {
        background-color: rgb(200,200,200);
        color: white;
    }
}

.textFileColor {
    color: #969696;
}

.audioFileColor {
    color: rgb(83, 83, 190);
}

.videoFileColor {
    color: rgb(61, 81, 87);
}

div.toolbar {
    width:100%;
    display:flex;
    input.addressBar {
        font-family: consolas, 'Courier New', monospace;
        flex-grow: 1;
        padding: 0.5em;
    }
}

.listContainer {
    height: 90vh;
    overflow-y: auto;
}

table {
    .colSelect {
        cursor: default;
    }

    .colName {
        cursor: pointer;
        width: 90%;
        text-align: left;
    }

    .colType {
        cursor: pointer;
        min-width:3em;
        text-align: left;
    }

    .colSize {
        cursor: pointer;
        min-width:5em;
        text-align: right;
    }

    .colModified {
        cursor: pointer;
        min-width:10em;
        text-align: left;
    }
}
