.folderColor {
   color: rgb(255, 200, 100);
}

.unselectedColor  {
    color: rgb(240,240,240);
    &:hover {
        color: rgb(200,200,200);
        background-color: white;
    }
}

.selectedColor {
    background-color:rgb(200,200,200);
    color: white;
    &:hover {
        background-color: rgb(200,200,200);
        color: white;
    }
}

.textFileColor {
    color: #969696;
}

.audioFileColor {
    color: rgb(83, 83, 190);
}

.videoFileColor {
    color: rgb(61, 81, 87);
}

div.toolbar {
    display:flex;
    button.btn {
        margin-left:0px;
        border-radius: 0;
    }
    & button.btn:first-child {
        border-top-left-radius: 4px;
    }
    & button.btn:last-child {
        border-top-right-radius: 4px;
    }
    input.addressBar {
        font-family: consolas, 'Courier New', monospace;
        flex-grow: 1;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.listContainer {
    height: 70vh;
    overflow-y: scroll;
}

table {
    &.table {
        margin-top:0;
    }

    th {
        text-align: left;
        border-bottom: 1px solid rgb(200,200,200);
    }

    th:not(:last-child) {
        border-right: 1px solid rgb(200,200,200);
    }

    th::last-child {
        border-right: none;
    }

    td{
        border-top: none;
        border-bottom: 1px solid rgb(200,200,200);
        cursor: pointer;
    }

    .colSelect {
        min-width:2.73em;
        cursor: default;
    }

    .colName {
        width: 90%;
    }

    .colType {
        min-width:3em;
    }

    .colSize {
        min-width:5em;
    }

    td.colSize {
        text-align: right;
    }

    th.colModified {
        min-width:11em;
    }

    td.colModified {
        min-width:10em;
    }
}
