<div class="btn-group toolbar">
  <button class="btn btn-secondary" (click)="back()" [disabled]="!canGoBack" title="Back">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button class="btn btn-secondary" (click)="up()" [disabled]="!canGoUp" title="Up">
    <i class="fas fa-arrow-up"></i>
  </button>
  <button class="btn btn-secondary" (click)="forward()" [disabled]="!canGoForward" title="Forward">
    <i class="fas fa-arrow-right"></i>
  </button>
  <input type="text" class="addressBar" spellcheck="false" [value]="currentPath">
  <button type="button" class="btn btn-secondary" title="Menu">
    <i class="fas fa-bars"></i>
  </button>
</div>

<table class="table" style="margin-bottom:0">
  <tr>
    <th class="colSelect" (click)="toggleSelect()" title="Inverse Selection">
      <i class="fas fa-check" (click)="toggleSelect()" title="Inverse Selection"></i>
    </th>
    <th class="colName">Name</th>
    <th class="colSize">Size</th>
    <th class="colModified">Modified</th>
  </tr>
</table>
<div class="listContainer">
  <table class="table">
    <tr *ngIf="status==100">
      <td colspan="4" class="text-center">Loading . . .</td>
    </tr>
    <tr *ngIf="status==200&&items.length==0">
      <td colspan="4" class="text-center">Empty Directory</td>
    </tr>
    <tr *ngIf="status==404">
      <td colspan="4" class="text-center">Not Found</td>
    </tr>
    <tr *ngIf="status==403">
      <td colspan="4" class="text-center">No Access</td>
    </tr>
    <tr *ngFor="let item of items">
      <td class="colSelect unselectedColor" (click)="item.selected=!item.selected;allSelected=false" [class.selectedColor]="item.selected"
        title="Select">
        <i class="fas fa-check" title="Select"></i>
      </td>
      <td class="colName" (click)="openItem(item)">
        <i [ngClass]="getIcon(item)"></i>
        {{item.name}}
      </td>
      <td class="col colSize" (click)="openItem(item)">
        <ng-container *ngIf="!item.isDirectory">
          {{item.length | fuzzySize}}
        </ng-container>
      </td>
      <td class="col colModified" (click)="openItem(item)">
        {{item.lastModified | date:"yyyy-MM-dd HH:mm"}}
      </td>
    </tr>
  </table>
</div>