<div class="container titleContainer">
  <div class="row">
    <h3>Media Player Klassy</h3>
    <button class="btn pull-right">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn pull-right">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
<video class="videoPlayer" autoplay src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4">
</video>
<div class="container buttonContainer">
  <div class="row">
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-pause"></span>
    </button>
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-stop"></span>
    </button>
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
    <button class="btn pull-left">
      <span class="glyphicon glyphicon-volume-up"></span>
    </button>
    <button class="btn pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button class="btn pull-right">
      <span class="glyphicon glyphicon-resize-full"></span>
    </button>
    <button class="btn pull-right">
      <span class="glyphicon glyphicon-fullscreen"></span>
    </button>
  </div>
</div>